#calculator-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#display-container {
    display: flex;
    flex-direction: column;
    border: 3px dashed green;
    align-items: flex-end;
}

#buttons-container {
    border: 3px dashed blue;
}